{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}


{% block object-tools-items %}
  <p>
      <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn">
          <i class="icon-plus"></i> {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
      </a>
      <a href="{% url cl.opts|admin_urlname:'config' %}" class="btn">
          <i class="icon-wrench"></i> {% blocktrans with cl.opts.verbose_name as name %}Configurações{% endblocktrans %}
      </a>
  </p>
{% endblock %}